<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clase 30 - JSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9A51DF61D9BF6790068EF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A51E0A1D9BF6790068EF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A51E151D9BF6790068EF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
