<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clase 30 - JSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D93DFED71DCDEE0A00064F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D93DFEEB1DCDEE0A00064F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D93DFEF61DCDEE0A00064F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
